<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Project Edit</title>
  <link rel="stylesheet" href="/assets/CSS/style.css">
  <style>
    h2 {
      text-align: center;
    }
  </style>
</head>
<body>
    
   <nav class="navbar">
        <div class="nav-left">
            <a href="/home">Home</a>
            <a href="/project">My Project</a>
        </div>

        <div class="nav-right">
            <a href="/contact" class="btn-contact">Contact Me</a>
        </div>
    </nav>

  <h2>ADD MY PROJECT</h2>
  <div class="project-container">
    
    <form action="/project/edit/{{project.id}}" method="POST" id="projectForm">
      <input type="text" name="title" id="projectName" placeholder="Project Name"
      value="{{project.title}}" required>
        

      <textarea name="description" placeholder="description">{{project.description}}</textarea>


      <button type="submit" class="button">Submit</button>
    </form>
  </div>

</body>
</html>