<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Project</title>
  <link rel="stylesheet" href="./assets/CSS/style.css">
  <style>
    h2 {
      text-align: center;
    }
  </style>
</head>
<body>
    
  {{>navbar}}

  <h2>ADD MY PROJECT</h2>
  <div class="project-container">
    
    <form id="projectForm">
      <input type="text" id="projectName" placeholder="Project Name" required>
      <textarea id="description" placeholder="Description" required></textarea>


    <button type="submit" class="button">Submit</button>
    </form>
  </div>

    <h1 class="title">MY PROJECT</h1>
    <div class="project-list" id="projectList">
        
    </div>

  <script src="/assets/scripts/script.js"></script>

</body>
</html>