{{!-- // NAVBAR --}}

    <nav class="navbar">
        <div class="nav-left">
            <a href="./home">Home</a>
            <a href="./project">My Project</a>
        </div>

        <div class="nav-right">
            <a href="./contact" class="btn-contact">Contact Me</a>
        </div>
    </nav>    